@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'barlowregular';
	src: url('../lib/assets/fonts/barlow-regular-webfont.woff2') format('woff2'),
		url('../lib/assets/fonts/barlow-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'barlowthin';
	src: url('../lib/assets/fonts/barlow-thin-webfont.woff2') format('woff2'),
		url('../lib/assets/fonts/barlow-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Own CSS */
:root {
	--WuF_Blue: theme(colors.secondary.500);
	--WuF_Gold: theme(colors.primary.500);
	--WuF_White: theme(colors.custom-white);
	--Slate_200: theme(colors.slate.200);
	--Slate_500: theme(colors.slate.500);
}

* {
	font-family: 'barlowregular', 'barlowthin', serif, sans-serif, cursive, fantasy, monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--WuF_Blue);
	border-radius: 6px 0px 0px 6px;
}

.overflow-y-overlay {
	overflow-y: overlay;
}

.dx-dropdowneditor-icon {
	color: var(--Slate_500) !important;
}
.dx-texteditor-input {
	color: var(--Slate_500) !important;
	font-size: 1rem;
    line-height: 1.5rem;
}

/* For the icon not to conflict with DX styles */
.dx-row-focused .row-focused-state {
	color: white;
}

.dx-master-detail-row .row-focused-state {
	color: theme(colors.primary.500);
}

.expired-document {
	background-color: #ef444433 !important;
}

.near-expiration {
	background-color: #eab30833 !important;
}