@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'barlowregular';
	src: url('../lib/assets/fonts/barlow-regular-webfont.woff2') format('woff2'),
		url('../lib/assets/fonts/barlow-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'barlowthin';
	src: url('../lib/assets/fonts/barlow-thin-webfont.woff2') format('woff2'),
		url('../lib/assets/fonts/barlow-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Own CSS */
:root {
	--WuF_Blue: theme(colors.secondary.500);
	--WuF_Gold: theme(colors.primary.500);
	--WuF_White: theme(colors.custom-white);
	--Slate_200: theme(colors.slate.200);
	--Slate_500: theme(colors.slate.500);
}

* {
	font-family: 'barlowregular', 'barlowthin', serif, sans-serif, cursive, fantasy, monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--WuF_Blue);
	border-radius: 6px 0px 0px 6px;
}

.overflow-y-overlay {
	overflow-y: overlay;
}
.dx-texteditor.dx-editor-outlined.dx-datebox-date.dx-datebox-calendar {
	border: 0 !important;
    border-bottom: 1px solid var(--Slate_200) !important;
    border-radius: 0 !important;
	transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.dx-texteditor.dx-editor-outlined.dx-datebox-date.dx-datebox-calendar.dx-state-focused {
    border-bottom: 1px solid var(--WuF_Gold) !important;
	transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.dx-dropdowneditor-icon {
	color: var(--Slate_500) !important;
}

.dx-texteditor-input {
	color: var(--Slate_500) !important;
	font-size: 1rem !important;
    line-height: 1.5rem !important;
}