.dx-layout-manager .dx-field-item {
    font-size: 16px;
    font-weight:900;
}
.dx-texteditor.dx-editor-filled {
    background-color: white;
    width: 50%;
}
.dx-texteditor {
    font-size: 12px;
    border-radius: none; 
    position: unset;
}
.dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align) {
    padding-top: 0px; 
}